body {
    line-height: 1.8;
}
a {
    color: #288ad6;
}

.app-image img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.game-post-top .game-post-image img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.owl-theme .owl-nav [class*=owl-]:focus {
    outline: unset;
}
.img-post {
    height: 100%;
    object-fit: cover;
}
/****AJAX SEARCH****/
.item-search {
    display: none;
    position: absolute;
    top:38px;
    background: #fff;
    z-index: 999;
    padding: 10px 15px;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 0 2px 4px 0 rgb(0,0,0,.5);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0,.5);
    box-shadow: 0 2px 4px 0 rgb(0, 0, 0,.5);
}

.item-search ul li {
    list-style: none;
}
/****END AJAX SEARCH****/

/****APP SHOW****/

.app-card-body {
    background: #fff;
    padding: 1.25rem;
}
.body-contents img, .service-description img {
    max-width: 100%;
    height: auto!important;
}
.app-image img {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.app-category {
    line-height: 26px;
}

.app-rating-star .star i, .app-comment-count i, .app-view-count i {
    color: #f89406;
}
.app-rating-star a, .app-comment-count a, .app-view-count a {
    color: #343a40;
}
.app-download ul {
    margin: 0;
    padding: 0;
}
.app-download ul li {
    float: left;
    margin-right: 1%;
    margin-top: 1%;
    background: #f5f5f5;
    border: 1px solid #288ad6;
    border-radius: 4px;
    box-sizing: border-box;
    width: 23%;
    display: flex;
    align-items: center;
    list-style: none;
}
.app-download ul li .app-download-name {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-flow: row wrap;
    overflow: hidden;
    padding: 6px 5px;
    width: 100%;
    box-sizing: border-box;
}
.show-top-news {
    padding-left: 20px ;
}
.show-top-news .item-news {
    display: block;
    overflow: hidden;
    font-size: 16px;
    color: #288ad6;
    line-height: 1.5;
}
.show-top-news .item-news:before {
    content:"\f192";
    font-family: "Font Awesome 5 Free";
    color: #999;
    margin: 0 5px 5px 0;
    font-size: 12px;
}
.see-more, .hidden-news , .show-news {
    display: block;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    color: #288ad6;
    border-radius: 4px;
    width: 300px;
    position: relative;
    padding: 10px 0;
    margin: auto;
    box-sizing: border-box;
    height: auto;
}
.see-more:after {
    content: "";
    border-top: 5px solid #288ad6;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1px 5px;
}
.hidden-news:after {
    content: "";
    border-top: 5px solid #288ad6;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1px 5px;
}

.show-news:after {
    content: "";
    border-bottom: 5px solid #288ad6;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1px 5px;
}


.app-highlights {
    display: block;
    overflow: hidden;
    padding: 10px 20px;
    border: 1px solid #f89406;
    margin: 20px;
    box-sizing: border-box;
}

.app-highlights > strong {
    display: block;
    overflow: hidden;
    font-size: 22px;
    line-height: 155%;
    color: #f89406;
}
.app-highlights ul {
    padding: 0;
    margin: 0;
}
.app-highlights ul li {
    display: block;
    overflow: hidden;
}

.app-highlights ul li:before {
    content:"\f192";
    font-family: "Font Awesome 5 Free";
    color: #f89406;
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}
.app-gallery {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
}
.app-gallery .owl-nav {
    position: absolute;
    top: 30%;
    width: 100%;
}
.app-gallery .owl-next {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 11px;
    background: #fff!important;
    box-shadow: 0 2px 8px rgba(0,0,0,.25);
    border-radius: 50%!important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;

}
.app-gallery .owl-next span, .app-gallery .owl-prev span {
    font-size: 30px;
    line-height: 26px;
}
.app-gallery .owl-next:hover span, .app-gallery .owl-prev:hover span {
    color: #333;
}

.app-gallery .owl-prev {
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 11px;
    background: #fff!important;
    box-shadow: 0 2px 8px rgba(0,0,0,.25);
    border-radius: 50%!important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.app-related > h3, .app-news > h3 {
    font-size: 18px;
}
.app-related-border {
    display: flex;
    overflow: hidden;
    align-items: inherit;
    flex-flow: row wrap;
    box-sizing: border-box;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;

}
.item-related {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
    border-bottom: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
}

.app-related-name {
    line-height: 1.3;
}
.app-related-name a {
    color: #343a40;
    font-size: 14px;

}
.app-dowload-icon img {
    margin-right: 10px;
    height: 40px;
}

.app-download ul li.app-item-service {
    width: 24.25%;
    margin-right:1%
}
.qtv {
    display: inline;
    vertical-align: middle;
    font-style: normal;
    background-color: #eebc49;
    color: #222;
    font-size: 10px;
    padding: 5px 5px 3px 5px;
    border-radius: 2px;
    width: auto;
    height: auto;
    line-height: 1;
    margin-left: 5px;
}
/****END APP SHOW****/

/****GAME APP****/
.app-item {
    background: #f8f8f8;

}
.app-item-image {
    display: block;
    overflow: hidden;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    max-height: 169px;
}
.app-item-image img {

}
.game-post-bottom .game-post-image img {
    height: 110px;
    display: block;
    margin:auto
}
.app-text-body {
    display: block;
    overflow: hidden;
    padding: 10px 8px 0;
    box-sizing: border-box;
}
.app-item-title {
    color: #343a40;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.5;
}
.pd-image-0 {
    padding-right: 0;
}
.app-item-icon {

}
.app-item-icon img{
    border-radius: 8px;
}
.app-item-info .app-category {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #343a40;
    line-height: 27px;
}
.app-item .item-news {
    font-size: 14px;
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.app-post {
    padding:20px 10px 0 10px ;
}
.item-platform {
    border:1px solid #288ad6;
    padding: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.item-platform:hover {
    border: 1px solid #f89406;
}
.title-card-body {
    font-size: 22px;
}
.see-more-post-game .see-more {
    border: 1px solid #288ad6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.game-post-title {
    display: block;
    overflow: hidden;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
.game-post-title a {
    color: #343a40;
}
.game-post-item {
    border-top: 1px solid #dfdfdf;
}

/****END GAME APP****/

/****QUICK MENU ****/
.lst.hide {
    display: none;
}

.menuquick {
    display: block;
    background: #dbedf9;
    border: 1px solid #c7e4f4;
    border-radius: 4px;
    padding: 1.5%;
    font-size: 16px;
    margin: 0 20px auto;
}
.menuquick a {
    display: block;

}
.menuquick label {
    position: relative;
    display: block;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    line-height: 28px;
    font-size: 16px;
}
.body-contents * {
    word-break: break-word;
}
.menuquick a[href*="subqmenu"] {
    margin-left: 10px;
}
.menuquick a[href*="subqmenu"]:before {
    content: "\f192";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    font-size: 8px;
}
.menuquick label:after {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAOCAYAAAA45qw5AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwwAADsMBx2+oZAAAAi9JREFUOE+tk01rE0EYx7MbMbZePIlR8SsIQhFE8eBZJOKhUqwearKE5BDMoQpihB4UL0Igb6BSSimtFbF+AcVLoeDJDyBoYw9CDyHFhLz4e2aeXZUkZn35we48859n5z/PzKzjed61Xq/3KGJ5UKvVHmv8X0mlUnma+X6/36a97SSTyV2CQzIoOI6zHI/H5wqFwjeV/olcLjfRbDafEk5bxXjsurzWtG9gRTP1ev1NOp0+otJfk8lkjmL6ljAwFfBYcyuViof5gmo+pzudzha7cUr7fwwLn2q321uEU1Yx9PG6x3F6jgpyBldZiWzJAasY9nhukPjcdsPBvZmWuXgmVBL2XNedpdAX0nGNBNVqdYWB84RfrGKY5FllogKTBIscheSwSwtc1pWfTanyE3Of9U2Fgcmy2ezxVqv1ivCXbebjdSa7TvWyCwPk8/mDjUZjiZyESga+24xGo4lSqbSjkmFoFax6kg8WmeSKSj7vY7HYpWKx+Fn7BvJPkL9B/kmVfJbIv0l+S/sBI7ePSRzO/T7hXatYMNhh2xLlcnlT+lyiM91u9yX5h00CkNOjucPxPbTKIGPPTS4KZ/aMMLh0TCwVzNHuY6xKvN8MWBroM5i+1v5QxhoL8mvwe8m5x60yHAw/8lzkEn1QaSShjAUqP0Z1G4RD/20M37Hdl7l8X1X6LcHvNA6q2KY5h8G6VX6A9gTTC2FNhdAV+8ilo/p5wlvE25iWOc+KHQ1LJPIdi+3i7AUil8gAAAAASUVORK5CYII=);
    height: 7px;
    width: 15px;
    display: inline-block;
    content: " ";
    float: right;
    background-size: contain;
    margin: 10px 0 0 0;
    cursor: pointer;
}

/****END QUICK MENU****/
@media (max-width: 768px) {

    .fb-page {
        width: 100%;
        max-width: 100%;
    }
    .app-top, .app-share {
        margin-bottom: 20px!important;
        padding-bottom: 20px;
        border-bottom: 1px solid #dfdfdf
    }
    .app-news {
        padding-top:20px
    }
    .app-highlights {
        margin: 20px 0;
    }
    .app-rating {
        margin-top:10px!important;
    }
    .app-name {
        font-size: 18px;
    }
    .app-rating {
        margin-top:0!important;
    }
    .app-category , .app-publisher, .app-rating-star, .app-comment-count, .app-view-count, .app-charge , .app-item-info .app-category {
        font-size: 13px;
        line-height: 18px;
        margin-top: 5px;
    }
    .app-comment-count {
        margin-right: 15px;
    }
    .app-rating-star {
        width: 100%;
    }
    .app-download {
        margin-top: 10px;
    }
    .app-download ul li, .app-download ul li.app-item-service {
        float: left;
        width: 49%;
        margin-right: 2%;
        background: #f5f5f5;
        margin-bottom: 2%;
    }
    .app-download ul li:nth-child(2n){
        margin-right: 0;
    }
    .show-top-news {
        padding-left: 0;
    }
    .app-related-border {
        border:none
    }
    .item-related {
        border:none;
        width: 100%;
    }
    .app-charge .btn {
        padding: 2px 4px;
    }
    .see-more {
        width: auto;
    }
    .game-post-bottom .game-post-image img {
        height: auto;
    }
    .game-post-bottom {
        height: 280px;
        overflow: hidden;
    }
    .body-contents img {
        height: auto!important;
    }
    .menuquick {
        margin: 0 auto;
        padding: 3%;
    }
}

@media (max-width: 414px) {

}

@media (max-width: 375px) {

}

@media (max-width: 320px) {

}

