@media (width: 768px) {
    .elementor-1420 .elementor-element.elementor-element-7660cc8c .elementskit-funfact .funfact-content .number-percentage-wraper {
        font-size: 44px;
    }
    .elementor-1420 .elementor-element.elementor-element-2e108de5 {
        width: 100%;
    }

   #slider-9-slide-24-layer-6 {
       margin-left: 50px;
    }
}
