body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.elementor-1424 .elementor-element.elementor-element-57f39d3 .elementskit-submenu-panel {
    padding: 0;
}
.content-image {
    border: 1px solid #e2e2e2;
    padding: 10px;
    border-radius: 10px;
}
.content-image img{
    height: 126px!important;
    object-fit: contain;
}

.elementor-1420 .elementor-element.elementor-element-6c002a7 {
    padding: 30px 50px;
    text-align: center;
}

.getfly-form {
    margin: 0 auto;
    padding: 25px!important;
    font-size: 12px;
    line-height: 30px!important;
    color: #777;
    border: none;
    background: #F7F7F7;
}
.getfly-row {
    margin-bottom: 0px;
}
.getfly-label-c {
    color: #777 !important;
    display: block!important;
}
.getfly-input {
    width: 95%!important;
    border: 1px solid #CCC;
    background: #FFF;
    padding: 10px;
    outline: 0;
}
.getfly-form input, select, textarea, .multi-select-button {
    border: 1px solid #F7F7F7 !important;
}

.getfly-span {
    color: #FF0000;
    font-size: 20px;
    font-weight: bold;
    float: none!important;
}
.getfly-mt10 {
    margin-top: 15px;
}

.getfly-button {
    cursor: pointer;
    border: none;
    background: #FF0000;
    color: #FFF;
    padding: 10px 20px;
    font-size: 18px;
    outline: 0;
    border-radius: 5px;
    font-weight: 500;
}
.elementor-1420 .elementor-element.elementor-element-e0f4898 .elementskit-testimonial-slider .slick-next {
    right: 10px!important;
}
.elementor-1420 .elementor-element.elementor-element-e0f4898 .elementskit-testimonial-slider .slick-prev {
    right: 50px!important;
    left: auto;
}
.ekit-wid-con .elementskit-commentor-content .elementskit-client_logo .elementskit-testimonial-client-logo {
    height: 360px;
    object-fit: cover;
}

.elementor-1420 .elementor-element.elementor-element-e0f4898 .elementskit-single-testimonial-slider .elementskit-commentor-content > p {
    margin-top: 0!important;
}

.elementor-1420 .elementor-element.elementor-element-e0f4898 .elementskit-commentor-content .elementskit-client_logo {
    margin-bottom: 10px!important;
}

.elementor-1420 .elementor-element.elementor-element-e0f4898 .elementskit-testimonial-slider .slick-arrow {
    -webkit-transform: translateY(200px);
    -ms-transform: translateY(200px);
    transform: translateY(200px);
}
.client-commit {
    min-height: 56px;
}
.ekit-heading__description {
    margin-top: 15px;
}
.elementor-element-84950fd {
    padding-top: 50px;
}

.post-title {
    margin-top: 15px;
}


div.elementor .ekit-sticky.elementor-element .elementor-container.elementor-column-gap-default {
    background-color: #003478;
    border-radius: 5px 5px 5px 5px;
}

.entry-content *:not(i) {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
    max-width: 100%;
}

.team-img {
    height: 232px;
    align-items: end;
    display: flex;
    border: 1px solid #edeff2;
    border-radius: 5px;

}
.team-img img {
    height: 232px;
    object-fit: cover;
}
.select2-container .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 50px;
}

.post-description {
    margin-bottom: 15px;
    height: 104px;
    overflow: hidden;
}

.zalo-container {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 160px;
    z-index: 9999999;
}

.zalo-container.right {
    right: 2.1rem;
}

.zalo-container a {
    display: block;
}

.zalo-container span {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #1182FC;
    position: relative;
}

@keyframes zoomIn_zalo {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

.zoomIn_zalo {
    animation-name: zoomIn_zalo;
}

.animated_zalo {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated_zalo.infinite {
    animation-iteration-count: infinite;
}

.cmoz-alo-circle {
    width: 50px;
    height: 50px;
    top: -5px;
    right: -5px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(17, 130, 252, .8);
    opacity: .1;
    border-color: #1182FC;
    opacity: .5;
}

.cmoz-alo-circle-fill {
    width: 60px;
    height: 60px;
    top: -10px;
    position: absolute;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: rgba(17, 130, 252, 0.45);
    opacity: .75;
    right: -10px;
}

@-webkit-keyframes pulse_zalo {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse_zalo {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.pulse_zalo {
    -webkit-animation-name: pulse_zalo;
    animation-name: pulse_zalo;
}
