/* Add here all your css styles (customizations) */
body{color: #222;}
.image-wrapper169
{
    position: relative;
    padding-bottom: 56.25%;
}
.image-wrapper169 img
{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.h230
{
    height: 230px !important;
}
.h350
{
    height: 350px !important;
}

.g-bg-main-1
{
    background-color: #398c3e !important;
}
.g-bg-main-2
{
    background-color: #7db343 !important;
}
.g-bg-main-3
{
    background-color: #c0ca33 !important;
}
.g-bg-main-4
{
    background-color: #fac32a !important;
}
.g-color-main-1
{
    color: #ff7043 !important;
}
.g-color-main-2
{
    color: #00897b !important;
}
.g-color-main-4
{
    color: #ffb300 !important;
}
.g-color-main-3
{
    color: #c0ca33 !important;
}
.g-color-main-5
{
    color: #fac32a !important;
}
.g-color-main-6
{
    color: #fae92a !important;
}
.g-brd-main-6
{
    border-color: #fae92a !important;
}
.g-color-footer
{
    color: #fae92a !important;
}
.g-brd-top-footer
{
    border-top: solid 5px #fac32a !important;
}
.g-bg-input-contact
{
    background-color: #acd373 !important;
}
.g-bg-submit-contact
{
    background-color: #fac32a !important;
}
.g-color-icon-footer
{
    color: #82cb34 !important;
}
.g-brd-icon-footer
{
    border-color: #82cb34 !important;
}

.nav-item > .nav-link
{
    color: #fff !important;
}
.g-bg-header
{
    background: transparent url(../../assets/img/bgheader.jpg) no-repeat top center;
}

.g-bg-main-5
{
    background-color: #e3ecc9 !important;
}
.g-bg-main-6
{
    background-color: #ece4c9 !important;
}
.g-bg-main-7
{
    background-color: #f9faa7 !important;
}
.g-bg-main-8
{
    background-color: #cbecea !important;
}
.g-bg-main-9
{
    background-color: #65a34e !important;
}
.g-bg-main-10
{
    background-color: #e29d17 !important;
}

.g-color-product-1
{
    color: #5d802a !important;
}
.g-bg-product-1
{
    background-color: #5d802a !important;
}
.g-color-product-2
{
    color: #694c2c !important;
}
.g-bg-product-2
{
    background-color: #694c2c !important;
}
.g-color-product-3
{
    color: #8f653f !important;
}
.g-bg-product-3
{
    background-color: #8f653f !important;
}
.g-color-product-4
{
    color: #41798a !important;
}
.g-bg-product-4
{
    background-color: #41798a !important;
}
.g-brd-codeproduct-1
{
    border: 2px solid #5d802a !important;
    border-left: none !important;
    border-right: none !important;
    background-color: #f1f6e4 !important;
}
.g-brd-codeproduct-2
{
    border: 2px solid #694c2c !important;
    border-left: none !important;
    border-right: none !important;
    background-color: #f6f2e4 !important;
}
.g-brd-codeproduct-3
{
    border: 2px solid #8f653f !important;
    border-left: none !important;
    border-right: none !important;
    background-color: #fcfdd3 !important;
}
.g-brd-codeproduct-4
{
    border: 2px solid #41798a !important;
    border-left: none !important;
    border-right: none !important;
}
.g-px-screen
{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.fslogan
{
    font-size: 0.85714rem !important;
}
.divslogan
{
    padding-left: 0.71429rem !important;
}
ul.navbar-nav
{
    padding: 0.71429rem !important;
}
.g-bg-navtop
{
    background-color: #468b2d !important;
}
ul.navbar-nav li.nav-item
{
    padding: 0.35714rem !important;
    line-height: 21px;
}

@media only screen and (min-width: 1200px)
{
    .g-px-screen
    {
        padding-left: 5.71429rem !important;
        padding-right: 5.71429rem !important;
    }
    .blogo
    {
        padding: 0.35714rem !important;
        margin-left: 5.71429rem !important;
        margin-right: 5.71429rem !important;
    }
    .fslogan
    {
        font-size: 1.14286rem !important;
    }
    .divslogan
    {
        padding-left: 7.14286rem !important;
    }
    .g-bg-l-navtop
    {
        background: transparent url(../../assets/img/bgl-menutop.png) no-repeat top left;
        height: 49px;
    }
    .g-bg-navtop
    {
        background-color: #468b2d !important;
        height: 49px;
        margin-left: 87px;
    }
}

@media only screen and (min-width: 992px)
{
    .blogo
    {
        padding-top: 0.35714rem !important; /*g-mx-10*/
        margin-left: 0.71429rem !important;
        margin-right: 0.71429rem !important;
    }
    .fslogan
    {
        font-size: 1.14286rem !important;
    }
    .divslogan
    {
        padding-left: 7.14286rem !important;
    }
    .g-bg-l-navtop
    {
        background: transparent url(../../assets/img/bgl-menutop.png) no-repeat top left;
        height: 49px;
    }
    .g-bg-navtop
    {
        background-color: #468b2d !important;
        height: 49px;
        margin-left: 87px;
    }
}
@media only screen and (min-width: 600px)
{
    .h230
    {
        height: 130px !important;
    }
    .h350
    {
        height: 230px !important;
    }
    .col-technical
    {
        /*g-py-80*/
        padding-top: 5.71429rem !important;
        padding-bottom: 5.71429rem !important;
        background-image: url(../../assets/img/bg-tuvankythuat.png);
        background-repeat: no-repeat;
        background-position: center;
    }
}
@media only screen and (max-width: 600px)
{
    .divslogan
    {
        display: none;
    }
}
@media only screen and (max-width: 992px)
{
    .h230
    {
        height: 130px !important;
    }
    .h350
    {
        height: 230px !important;
    }
    .blogo img
    {
        padding: 0.35714rem !important;
    }
}
a.g-color-white:hover
{
    color: #fae92a !important;
}
.ms-thumb-list
{
    position: absolute !important;
    top: 90% !important;
}
.ms-thumb-frame {
  position: relative;
  opacity: 1;
  border-radius: 50px;
  width: 10px !important;
  height: 10px !important;
  margin: 0px 8px;
}

.ms-thumb-frame::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #468b2d;
}

.ms-thumb-frame::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: transparent;
}

.ms-thumb-frame.ms-thumb-frame-selected::after {
  background-color: #fac32a;
}
.navbar-nav .nav-item a:hover{color:#fac32a !important;}

.img-category {
    height: 310px;
    object-fit: contain;
    border: 1px solid #468b2d!important;
}
.img-post {
    height: 256px;
    object-fit: contain;
    border: 1px solid #468b2d;
}
.img-product {
    height: 255px;
    object-fit: contain;
}

@media (max-width:420px) {
    .img-product, .img-post  {
        height: 170px!important;
    }
    #products {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    #accordion-cat, #accordion-post {
        padding-left: 15px;
        padding-right: 15px;
    }
}
